body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: cornflowerblue;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

#game-board {
    position: absolute;
    width: 80vw;
    height: 60vh;
    top: calc(50% - 30vh);
    left: calc(50% - 40vw);
    background-color: honeydew;
    border: 4px solid black;
}

#tip {
    position: absolute;
    top: 1vh;
    left: 2vw;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#callToAFriend {
    position: absolute;
    top: 8vh;
    left: 0;
    height: 8vh;
    width: 25vw;
    border: 4px solid black;
    border-top: 4px solid black;
    border-left: 0px;
    font-size: 16px;
}

#halfOnHalf {
    position: absolute;
    top: 8vh;
    left: 25vw;
    height: 8vh;
    width: 25vw;
    border: 4px solid black;
    border-left: 0px;
    border-top: 4px solid black;
    font-size: 16px;
}

#questionToTheCrowd {
    position: absolute;
    top: 8vh;
    left: 50vw;
    height: 8vh;
    width: 30vw;
    border: 4px solid black;
    border-left: 0px;
    border-right: 0px;
    border-top: 4px solid black;
    font-size: 16px;
}

button:hover {
    background-color: orange;
}

#question {
    font-size: 20px;
    margin-top: 20vh;
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#answer1 {
    position: absolute;
    top: 34vh;
    left: 10vw;
    width: 25vw;
    height: 10vh;
    background-color: khaki;
    border: 3px solid black;
}

#answer1:hover {
    background-color: lightsalmon;
    ;
}

#answer2 {
    position: absolute;
    top: 34vh;
    left: 45vw;
    width: 25vw;
    height: 10vh;
    background-color: khaki;
    border: 3px solid black;
}

#answer2:hover {
    background-color: lightsalmon;
}

#answer3 {
    position: absolute;
    top: 47vh;
    left: 10vw;
    width: 25vw;
    height: 10vh;
    background-color: khaki;
    border: 3px solid black;
}

#answer3:hover {
    background-color: lightsalmon;
}

#answer4 {
    position: absolute;
    top: 47vh;
    left: 45vw;
    width: 25vw;
    height: 10vh;
    background-color: khaki;
    ;
    border: 3px solid black;
}

#answer4:hover {
    background-color: lightsalmon;
}

#win {
    display: none;
    position: absolute;
    width: 60vw;
    height: 40vh;
    top: calc(50% - 20vh);
    left: calc(50% - 30vw);
    z-index: 1;
}

#win span {
    position: absolute;
    width: 100vw;
    top: 20%;
    left: calc(50% - 50vw);
    text-align: center;
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    animation: win 2s infinite;
}

@keyframes win {
    0% {
        color: chartreuse;
        font-size: 100px;
    }
    25% {
        color: limegreen;
        font-size: 100px;
    }
    50% {
        color: lime;
        font-size: 110px;
    }
    75% {
        color: limegreen;
        font-size: 100px;
    }
    100% {
        color: chartreuse;
        font-size: 100px;
    }
}

#lose {
    display: none;
    position: absolute;
    width: 60vw;
    height: 40vh;
    top: calc(50% - 20vh);
    left: calc(50% - 30vw);
    z-index: 1;
}

#lose span {
    position: absolute;
    width: 100vw;
    top: 20%;
    left: calc(50% - 50vw);
    text-align: center;
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    animation: lose 2s infinite;
}

@keyframes lose {
    0% {
        color: salmon;
        font-size: 100px;
    }
    50% {
        color: red;
        font-size: 110px;
    }
    100% {
        color: salmon;
        font-size: 100px;
    }
}